<%- include ('../partials/head.ejs') %>

<div class="game-info">
    
    <div class="description">
        <img class="game-img" src="<%= game.img %>" alt="">
        <div class="upper-row">
            <h1><%= game.name %></h1>

            <h4>Year</h4>
            <p><%= game.year %></p>
    
            <h4>Type</h4>
            <p><%= game.type %></p>
            
            <h4>Developer</h4>
            <p><%= game.developer %></p>
            
            <h4>Publisher</h4>
            <p><%= game.publisher %></p>
        </div>
        
        <div>
            
        </div>
        <h4>Platform</h4>
        <ul>
            <% game.platform.forEach(platform => { %>
                <li><%= platform %></li>
            <% }) %>
        </ul>
        
        <h4>Genre</h4>
        <ul>
            <% game.genre.forEach(genre => { %>
                <li><%= genre %></li>
            <% }) %>
        </ul>
        
        <h4>Mode</h4>
        <ul>
            <% game.mode.forEach(mode => { %>
                <li><%= mode %></li>
            <% }) %>
        </ul>
        
        <h4>Tags</h4>
        <ul>
            <% game.tags.forEach(tag => { %>
                <li><%= tag %></li>
            <% }) %>
        </ul>
    </div>
</div>



<%- include ('../partials/footer.ejs') %>